.progressContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bgImgOverlay {
  z-index: -1;
  background-color: rgba(30, 30, 30, 0.3);
  @apply bg-cover fixed h-full w-full;
}

.bgImg {
  z-index: -2;
  @apply bg-cover fixed h-full w-full;
}

.textStyle {
  text-shadow: 4px 5px 7px rgba(81,67,21,0.8);
}

.progressbarGrid {
  display: grid;
  gap: 15px;
  grid-auto-flow: column;
}

.swiper {
  height: calc(100% - 100px);
}