@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* typography */
*,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a, button {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

h1 {
    @apply text-3xl md:text-6xl font-bold;
}

h2 {
    @apply text-2xl md:text-5xl font-bold;
}

h3 {
    @apply text-xl md:text-4xl font-bold pb-2;
}

h4 {
    font-weight: 500;
    font-size: 1.953rem;
}

h5 {
    font-weight: 500;
    font-size: 1.563rem;
}

h6 {
    font-weight: 500;
    font-size: 1.25rem;
}

p {
    @apply text-base md:text-lg;
    color: #0e0e0e;
}
