/** Edit this as your general style guide! (Typography is in global.css) */
:root {
  --primary-color: #202124;
  --primary-color-rgb: rgb(32, 33, 36);
  --primary-shade: #151517;
  --primary-tint: #34363c;

  --secondary-color: #202124;
  --secondary-color-rgb: rgb(32, 33, 36);
  --secondary-shade: #151517;
  --secondary-tint: #34363c;

  --current-theme-accent: var(--ant-primary-color);

  --success: #6dd63c;
  --warning: #edd036;
  --danger: #eb3f3f;

  --background: var(--primary-color);
}
